body {
    font-family: Arial, sans-serif;
    background-color: #f5f9f7;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #315c4c;
}

p {
    text-align: center;
    font-size: 18px;
}